<link rel="stylesheet" href="/css/user/discussion_new.css">

<main>
    <h1>Tạo bài thảo luận</h1>
    <form action="/user/discussions/new" method="POST">
        <label for="title">Tiêu đề:</label>
        <input type="text" id="title" name="title" required>

        <label for="content">Nội dung:</label>
        <textarea id="content" name="content" required></textarea>

        <button type="submit">Đăng bài</button>
        <a href="/discussions" class="btn">Hủy</a>
    </form>
</main>
